<ion-header>
  <ion-toolbar style="--background: rgb(79, 146, 34)">
    <ion-title style="color: white;">Campeche</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio"
        ><ion-icon style="color: white;" name="arrow-back" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" style="--background: white">
  <div class="sub">
    <p style="color: black; justify-content: center">Elige una zona</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/edzna-bg.jpg"
            alt="Edzná"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Edzná</ion-card-title>
            <ion-card-subtitle>Campeche</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(22)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/balamku-bg.jpg"
            alt="Edzná"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Balamkú</ion-card-title>
            <ion-card-subtitle>Calakmul</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(23)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/chicanna-bg.jpg"
            alt="Edzná"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Chicanná</ion-card-title>
            <ion-card-subtitle>Calakmul</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(25)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/eltigre-bg.jpg"
            alt="Edzná"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>El Tigre (itzamkanac)</ion-card-title>
            <ion-card-subtitle>Candelaria</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(26)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
