.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-self: center;
}

.sub{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  align-items: center;
}

.cards{
  background: white;
}
.cards-titles{
  color: black;
}
