<ion-header>
  <ion-toolbar style="--background: rgb(79, 146, 34)">
    <ion-title style="color: white;">Yucatan</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio"
        ><ion-icon name="arrow-back" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" style="--background: white">
  <div class="sub">
    <p style="color: black; justify-content: center">Elige una zona</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/Dzibilchaltun-bg.jpg"
            alt="Dzibilchaltún"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Dzibilchaltún</ion-card-title>
            <ion-card-subtitle>Mérida</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(11)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/Chacmultun-bg.png"
            alt="chacmultun"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Chacmultún</ion-card-title>
            <ion-card-subtitle>Mérida</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(12)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/chichen-bg.jfif"
            alt="chichen"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Chichén ltzá</ion-card-title>
            <ion-card-subtitle>Tinum</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(13)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/Balamcanche-bg.jpg"
            alt="Balamcanché"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Balamcanché</ion-card-title>
            <ion-card-subtitle>Tinum</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(14)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/Acanceh-bg.jpg"
            alt="Acanceh"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Acanceh</ion-card-title>
            <ion-card-subtitle>Acanceh</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(15)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/Uxmal-bg.jpg"
            alt="Uxmal"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Uxmal</ion-card-title>
            <ion-card-subtitle>Santa Elena</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(16)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/Kabah-bg.jpg"
            alt="Kabah"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Kabah</ion-card-title>
            <ion-card-subtitle>Santa Elena</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(17)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/Ake-bg.jpg"
            alt="Aké"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Aké</ion-card-title>
            <ion-card-subtitle>Tixkokob</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(18)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/ekbalam-bg.jpg"
            alt="Ek' Balam"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Ek' Balam</ion-card-title>
            <ion-card-subtitle>Temozón</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(19)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/izamal-bg.jpg"
            alt="izamal"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Izamal</ion-card-title>
            <ion-card-subtitle>Izamal</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(20)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class=".ion-no-padding" mode="md" color="dark">
          <img
            src="../../../assets/icon/mayapan-bg.jpg"
            alt="Mayapán"
            style="width: 100%; height: 30%"
          />
          <ion-card-header>
            <ion-card-title>Mayapán</ion-card-title>
            <ion-card-subtitle>Tecoh</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear" (click)="ModalAR(21)"
            >Conocer</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
